
main{
    position: relative;
    top: 5%;
    box-shadow: 0 0 20px 3px #fd149d;
    border: solid 1px rgba(253, 20, 157, 0.6);
    background-color: #2B2945;
    margin: auto;
    padding: 2%;
    margin-top: 120px;
    border-radius: 8px;
    width: 70%;
    height: 1000px;
}